@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0700d8;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  align-items: center;
  padding: 20px;
  transition: all .3s;
  position: relative; }

.body-2000 {
  font-family: 'Poppins', sans-serif;
  transition: all .3s; }

button {
  font-family: 'Source Code Pro', monospace; }

input {
  font-family: 'Source Code Pro', monospace; }

.monitor::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-attachment: fixed;
  z-index: 3000;
  height: auto;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  transition: all .3s; }

h1 {
  font-size: 60px;
  font-weight: 200; }

h2 {
  font-size: 30px;
  font-weight: 400; }

p {
  font-size: 20px;
  font-weight: 200; }

.separadores {
  overflow: hidden;
  max-width: 100%; }

.boton-base, .header__botones--vhs a, .menu ul li a, .buscador a {
  background-color: white;
  color: #0700d8;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: all .3s; }
  .boton-base:hover, .header__botones--vhs a:hover, .menu ul li a:hover, .buscador a:hover {
    box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 0.75);
    background-color: #030059;
    color: #fff; }

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start; }
  .header__logo {
    display: flex;
    gap: 15px;
    align-items: center; }
    .header__logo img {
      width: 80px; }
    .header__logo--titulo {
      font-weight: 500; }
  .header__botones {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px; }
    .header__botones--carrito a {
      font-size: 50px;
      color: #fff;
      background-color: none;
      position: relative; }
      .header__botones--carrito a:hover {
        color: white; }
    .header__botones--carrito span {
      position: absolute;
      top: 0;
      right: -5px;
      color: #FFF;
      background-color: #030059;
      padding: 5px;
      border-radius: 3PX;
      font-size: 12px; }

.menu {
  margin-block: 50px; }
  .menu ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 10px;
    list-style: none; }
    .menu ul li {
      display: inline; }

.peliculas {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%; }
  .peliculas__item {
    max-width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    color: #030059;
    transition: all .3s; }
    .peliculas__item:hover {
      box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 0.75);
      background-color: #030059;
      color: #fff; }
    .peliculas__item--img {
      width: 100%; }
      .peliculas__item--img img {
        width: 100%; }
    .peliculas__item--titulo {
      font-size: 20px;
      font-weight: 900; }
    .peliculas__item--anio {
      font-size: 18px;
      font-weight: 700; }
    .peliculas__item p {
      font-size: 14px;
      font-weight: 400;
      margin-block: 10px; }
    .peliculas__item--reparto p {
      font-weight: 900;
      font-size: 12px; }
    .peliculas__item--boton {
      margin-block: 20px;
      width: 100%;
      background-color: #0700d8;
      padding: 10px 16px;
      font-size: 14px;
      font-weight: 900;
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      transition: all .3s;
      border: none; }
      .peliculas__item--boton:hover {
        background-color: #fff;
        color: #0700d8; }

.buscador {
  display: flex;
  gap: 15px; }
  .buscador input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #0700d8;
    font-family: 'Source Code Pro', monospace;
    border: none; }

aside {
  width: 500px;
  position: fixed;
  height: 1000px;
  right: -500px;
  top: 0;
  transition: all .3s; }
  @media (max-width: 600px) {
    aside {
      width: 75%; } }
  aside .contenedor--carrito {
    position: relative;
    background-color: #fff;
    color: #0700d8;
    padding: 25px;
    height: 1000px; }
    aside .contenedor--carrito h2 {
      font-size: 26px;
      font-weight: 700; }
    aside .contenedor--carrito .carrito--cantidad {
      position: absolute;
      left: -50px;
      top: 50px;
      z-index: 5000; }
      aside .contenedor--carrito .carrito--cantidad span {
        font-size: 13px;
        color: #fff;
        background-color: #030059;
        padding: 5px 10px;
        border-radius: 25px; }
    aside .contenedor--carrito .carrito--btn {
      font-size: 40px;
      position: absolute;
      left: -100px;
      color: #fff;
      top: 55px;
      border: 2px solid #fff;
      background-color: #0700d8;
      border-radius: 3px;
      padding: 5px 10px;
      transition: all .3s; }
      aside .contenedor--carrito .carrito--btn:hover {
        background-color: #fff;
        color: #0700d8; }

.active {
  right: 0; }

.carrito {
  margin-block: 25px; }
  .carrito__reserva {
    border: 2px dashed #0700d8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-block: 20px;
    gap: 25px; }
    .carrito__reserva h3 {
      font-size: 24px;
      font-weight: 500;
      text-align: left; }
    .carrito__reserva--img {
      width: 50px; }
      .carrito__reserva--img img {
        max-width: 50px; }
