aside {
    width: 500px;
    position: fixed; 
    height: 1000px;
    right: -500px;
    top: 0;
    transition: all .3s;
    @media (max-width: 600px) {
        width: 75%;
    }

    .contenedor--carrito {
        position: relative;
        background-color: #fff;
        color: $colorPrimario;
        padding: 25px;
        height: 1000px;
        h2 {
            font-size: 26px;
            font-weight: 700;
        }

        .carrito--cantidad {
            position: absolute;
            left: -50px;
            top: 50px;
            z-index: 5000;
            span {
                font-size: 13px;
                color: #fff;
                background-color: $colorPrimarioDark;
                padding: 5px 10px;
                border-radius: 25px;
            }
        }

        .carrito--btn {
            font-size: 40px;
            position: absolute;
            left: -100px;
            color: #fff;
            top: 55px;
            border: 2px solid #fff;
            background-color: $colorPrimario;
            border-radius: 3px;
            padding: 5px 10px;
            transition: all .3s;
            &:hover {
                background-color: #fff;
                color: $colorPrimario;
            }
        }

        
    }    
}

.active {
    right: 0;
}

.carrito {
    margin-block: 25px;
    
    &__reserva {
        border: 2px dashed $colorPrimario;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        margin-block: 20px;
        gap: 25px;
        h3 {
            font-size: 24px;
            font-weight: 500;
            text-align: left;
        }
        &--img {
            width: 50px;
            img {
                max-width: 50px;
            }
        }
    }

    &__subtotal {
        margin-block: 15px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__envio {
        margin-block: 5px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__total {
        margin-block: 10px;
        font-size: 24px;
        font-weight: 700;
        border-top: 2px solid $colorPrimario;
        padding-block: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

