.peliculas {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px; 
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
    &__item {
        max-width: 300px;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        color: $colorPrimarioDark;
        transition: all .3s;
        position: relative;
        &:hover {
            box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.75);
            background-color: $colorPrimarioDark;
            color: #fff;
    
        }
        &--img {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &--titulo {
                font-size: 20px;
                font-weight: 900;   
        }
        &--anio {
            font-size: 18px;
            font-weight: 700;   
        }
        p {
            font-size: 14px;
            font-weight: 400;
            margin-block: 10px;
        }
        &--reparto {
            p {
            font-weight: 900;
            font-size: 12px;
            }
        }

        &--estreno {
            position: absolute;
            z-index: 3;
            top: 20px;
            right: 20px;
            color: #fff;
            background-color: $colorPrimarioDark;
            border-radius: 3px;
            border: 2px solid $colorPrimarioLight;
            padding: 5px;
        }

        &--boton {
            margin-block: 20px;
            width: 100%;
            background-color: $colorPrimario;
            padding: 10px 16px;
            font-size: 14px;
            font-weight: 900;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            transition: all .3s;
            border: none;
            &:hover {
                background-color: #fff;
                color: $colorPrimario;
            }
        }
    }

    &__error {
        width: 500px;
        text-align: center;
        pre {
            font-size: 24px;

        }
    }
}

.buscador {
    display: flex;
    gap: 15px;
    input {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $colorPrimario;
        font-family: 'Source Code Pro', monospace;
        border: none;
    }
    a {
        @extend .boton-base;
    }
}