.peliculas {
    display: flex;
    gap: 20px;
    margin-top: 20px; 
    flex-wrap: wrap;
    &__item {
        max-width: 300px;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        color: $colorPrimarioDark;
        transition: all .3s;
        &:hover {
            box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.75);
            background-color: $colorPrimarioDark;
            color: #fff;
    
        }
        &--img {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &--titulo {
                font-size: 20px;
                font-weight: 900;   
        }
        &--anio {
            font-size: 18px;
            font-weight: 700;   
        }
        p {
            font-size: 14px;
            font-weight: 400;
            margin-block: 10px;
        }
        &--reparto {
            p {
            font-weight: 900;
            font-size: 12px;
            }
        }
        &--boton {
            margin-block: 20px;
            width: 100%;
            a {
                background-color: $colorPrimario;
                padding: 10px 16px;
                font-size: 14px;
                font-weight: 900;
                color: #fff;
                border-radius: 5px;
                text-decoration: none;
            }
        }
    }
}