@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: $colorPrimario;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  align-items: center;
  padding: 20px; 
  transition: all .3s;
  position: relative;
}

.body-2000 {
  font-family: 'Poppins', sans-serif;
  transition: all .3s;
}

button {
  font-family: 'Source Code Pro', monospace;
}

input {
  font-family: 'Source Code Pro', monospace;
}

.monitor::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-attachment: fixed;
    z-index: 3000;
    height: auto;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    transition: all .3s;
}

.sidebar-bg::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(16, 16, 19, 0.8);
  background-attachment: fixed;
  z-index: 0;
  height: auto;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  transition: all .3s;
}

h1 {
  font-size: 60px; 
  font-weight: 200;
  @media (max-width: 480px) {
    font-size: 40px;
  }
}

h2 {
    font-size: 30px;
    font-weight: 400;
    @media (max-width: 480px) {
      font-size: 23px;
    }
}

p {
    font-size: 20px;
    font-weight: 200;
}

.separadores {
    overflow: hidden;
    max-width: 100%;
}

// Extends
.boton-base {
  background-color: $colorPrimarioExtraLight;
  color: $colorPrimario;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: all .3s;
  &:hover {
      box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.75);
      background-color: $colorPrimarioDark;
      color: #fff;
  }
}