@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: $colorPrimario;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  align-items: center;
  padding: 20px; 
}

.monitor::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-attachment: fixed;
    z-index: 2;
    height: auto;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

h1 {
  font-size: 60px; 
  font-weight: 200;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 200;
}

.separadores {
    overflow: hidden;
    max-width: 100%;
}