.header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    &__logo {
        display: flex;
        gap: 15px;
        align-items: center;
        img {
            width: 80px;
        }
        &--titulo {
            font-weight: 500;
        }
    }
    
    &__botones {
        a {
            @extend .boton-base;
        }
    }
}

.menu {
    margin-block: 50px;
    ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 10px;
        list-style: none;
        li {
            display: inline;
            a {
                @extend .boton-base;
            }
        }
    }
}