.header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    &__logo {
        display: flex;
        gap: 15px;
        align-items: center;
        img {
            width: 80px;
        }
        &--titulo {
            font-weight: 500;
        }
    }
    
    &__botones {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 25px;
        &--vhs {
            a {
                @extend .boton-base;
            }
        }
        
        &--carrito {
            a {
                font-size: 50px;
                color: #fff;
                background-color: none;
                position: relative;
                &:hover {
                    color: $colorPrimarioExtraLight;
                }
            }
            span {
                position: absolute;
                top: 0;
                right: -5px;
                color: #FFF;
                background-color: $colorPrimarioDark;
                padding: 5px;
                border-radius: 3PX;
                font-size: 12px;
            }
            
        }
    }
}

.menu {
    margin-block: 50px;
    ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 10px;
        list-style: none;
        li {
            display: inline;
            a {
                @extend .boton-base;
            }
        }
    }
}